.product-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

.product-info img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.text-info {
  display: flex;
  flex-direction: column;
}

.product-name {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}

.product-category {
  font-size: 13px;
  color: #888;
}
